.header-bottom-sec{
    .special-medicine-box{
        background: $white;
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
        border-radius: 10px;
        // padding: 10px;
        .heading{            
            font-size: 24px;
            line-height: 28px;
            
            .main-head{
                color: $primary-color;
                text-transform: capitalize;
                font-style: normal;
                font-weight: 700;
            }         
            .see-more{
                color : $text-grey;
            }
        }
        .specialities-option{
            width: 135px;
            text-align: center;
            margin :10px 0px;
            .specialities-pic{
                width: 80px;
                height: 80px;
                background-color: #EBF0F6;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: auto;
                img{
                    width: 65%;
                }
            }
        }
    }

    .order-slider{
        .slick-dots{
            bottom: 10px !important;
        }
        &:hover{
            cursor: pointer;
        }
    }

    .usage-comfort-box{
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
        border-radius: 10px;
        background-color: $white;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 150px;
        position: relative;
        .usagability-pic{
            z-index: 1;
        }
    }
    .light-bg{
        background-color: $primary-color;
        opacity: 0.2;
        border-radius: 0px 0px 10px 10px;
        position: absolute;
        top: 50%;
        left: 0px;
        width: 100%;
        height: 50%;
        z-index: 0;
        -webkit-border-radius: 0px 0px 10px 10px;
        -moz-border-radius: 0px 0px 10px 10px;
        -ms-border-radius: 0px 0px 10px 10px;
        -o-border-radius: 0px 0px 10px 10px;
    }
}

.health-concern-section,.chronic-disease-section{
    background-color: $white;
    .heading{
        font-weight: 500;
        font-size: 35px;
        line-height: 41px;
        color: $text-grey;   
        position: relative;
        .heading-bottom-line{
            border: 2px solid $primary-color;
            position: absolute;
            left: 0;
            bottom: -5px;
            right: 0;
            width: 50%;
        }
    }
    .health-concern-slider,.chronic-disease-slider{
        .healthy-pics{
            background: #EBFCFB;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
            border-radius: 10px;;
            padding : 10px;
        }
        .slick-slide{
            margin : 0px 10px;
        }
        .affected-area{
            font-weight: bold;
            font-size: 24px;
            line-height: 28px;
            text-transform: capitalize;
            color: $text-grey;
        }
        .shop-link{
            font-weight: bold;
            font-size: 22px;
            line-height: 26px;
            text-transform: capitalize;
            color: #00757E;
            &:after{
                content : '\003E';
                margin-left: 10px;
            }
        }
        .slick-arrow{
            background-color: #000;
            top: -15%;
            &.slick-prev{
                left: 90%;
            }
            &.slick-next{
                right: 5%;
            }
        }
        .chronic-box{
            background: $white;
            border: 1px solid #727272;
            box-sizing: border-box;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
            border-radius: 10px;
            .chronic-pics{
                img{
                    border-radius: 10px;
                    -webkit-border-radius: 10px;
                    -moz-border-radius: 10px;
                    -ms-border-radius: 10px;
                    -o-border-radius: 10px;
                }
            }
        }
    }
}