@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

#header{
    nav{
        .logo-img{
            width: 200px;
        }
        .upload-btn{
            background-color: #766CEB;
            border-radius: 15px;
            -webkit-border-radius: 15px;
            -moz-border-radius: 15px;
            -ms-border-radius: 15px;
            -o-border-radius: 15px;
            font-family: 'Roboto', sans-serif;
            font-weight: 700;
            font-style: normal;
            font-size: 18px;
            display: flex;
            justify-self: center;
            align-items: center;
            text-transform: uppercase;
            color: #fff;
            line-height: 20px;
            padding: 10px 20px;
            border-color: transparent;
            &:active,&:hover{
                border-color: transparent;
            }
            &:focus{
                box-shadow: none;
            }
        }
    }
}
