@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

#header{
    background-color: #fff;
    nav{
        .logo-img{
            width: 200px;
        }
        .upload-btn{
            background-color: #766CEB;
            border-radius: 15px;
            -webkit-border-radius: 15px;
            -moz-border-radius: 15px;
            -ms-border-radius: 15px;
            -o-border-radius: 15px;
            font-family: 'Roboto', sans-serif;
            font-weight: 700;
            font-style: normal;
            font-size: 18px;
            display: flex;
            justify-self: center;
            align-items: center;
            text-transform: uppercase;
            color: #fff;
            line-height: 20px;
            padding: 10px 20px;
            border-color: transparent;
            &:active,&:hover{
                border-color: transparent;
            }
            &:focus{
                box-shadow: none;
            }
        }
        
        
        .basic-details{
            display: flex;
            align-items: center;
            background-color: #F8F8F8;
            border-radius: 15px;
            box-sizing: border-box;
            border: 1px solid #E4E3F2;
            .city-select,.medicine-search-box{
                /* for Firefox */
               -moz-appearance: none;
               /* for Chrome */
               -webkit-appearance: none;
               background-color: transparent;
               border: none;
               width: 100%;
               &:hover{
                   cursor: pointer;
               }
           }
           .mappin-icon{
               position: absolute;
               left:-10px
           }
           .location-icon,.search-icon{
               position: absolute;
               right: 0;
           }
           .city-select{
               position: relative;
           }
           .medicine-search-box{
               &:focus{
                   box-shadow: none;
               }
           }
        }
    }
}
